*{
  font-family: 'Inter', sans-serif;
}

.loading-map{
  position: relative;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  color: white;
}

.map-div{
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.search-container{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  left: 20px;
  padding: 5px;
  position: fixed;
  top: 20px;
  width: 250px;
  z-index: 999;
}
p{
  font-size: 12px;
}

.pointer{
  cursor: pointer;
}

/*Stylos de leyenda*/

.btn-ubicacion{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  background-color: #003dff;
  width: 150px;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
 
  @media screen and (max-width: 450px){
    top: auto;
    bottom: 240px;
  }
}

.content-leyenda{
  background-color: #f3f4f7;
  width: 150px;
  position: fixed;
  top: 65px;
  right: 20px;
  text-align: center;
  padding: 10px;
  border: 3px solid #003dff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media screen and (max-width: 450px){
    top: auto;
    bottom: 20px;
  }
}

@media screen and (max-width: 450px){
  .img-logo{
    left: 20px;
  }
}

.titulo{
  font-size: 20px;
  margin-bottom: 10px;
}

.content-desc{
  background-color: #fff;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px ;
  padding: 2px;
}

.content-desc h6{
  font-size: 15px;
  color: #1c6ee9;
  margin: 0;
}

.content-desc p{
  font-size: 12px;
  color: #000;
  margin: 0;
}

.content-leyenda .cuadrado{
  width: 100px;
  height: 80px;
  @media screen and (max-width: 450px){
    width: 80px;
    height: 60px;
  }
}

.contact-agente{
  border: none;
  border-radius: 5px;
  font-size: 13px;
  background-color: #383838;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  width: 100px;
}